/* página principal */
.video {
  height: 300px;

  background-color: aquamarine;
}

body {
  background-color: #f2f5f7;
  font-family: "Open Sans", Arial, sans-serif;
}
.img-obj-principal {
  border-radius: 10px;
}

.bg-img {
  background-image: url("../assets/img/fundo-Cabeçalho.jpg") !important;
}
.nav-item:hover {
  box-shadow: 4px 4px 4px #ccc;
}
.card:hover {
  box-shadow: 4px 4px 4px #ccc;
}

.percurso-main {
  border: 1px solid rgb(191, 178, 178);
  border-radius: 10px;
  margin-left: 5px;
  background-color: aliceblue;
}
/*  */

/* pagina-exercicios */

.video-ex {
  height: 200px;
  background-color: gray;
}
