/* página principal */
/* .video {
  height: 300px;

  background-color: aquamarine;
} */
body {
  font-family: "Open Sans", Arial, sans-serif;
}

main {
  /* background-color: #f2f5f7; */
  background: linear-gradient(white 1%, #dfe2e4 10%, #aaeea7);
}
.img-obj-principal {
  border-radius: 10px;
}
.video-ex {
  height: 200px;
  background-color: gray;
}

.nav .nav-principal li .active i {
  color: #001c40;
}
.nav .nav-principal li a label {
  color: rgb(80, 89, 108);
}
.img-obj-principal {
  box-shadow: 10px 10px 5px #a5f2a1 !important;
}
.img-obj-principal:hover {
  box-shadow: 10px 10px 10px #acf4a8a6 !important;
}

.bg-img {
  background-image: url("../assets/img/fundo-Cabeçalho.jpg") !important;
}
.nav-item .active:hover {
  box-shadow: 4px 4px 4px #ccc;
  border-radius: 5px;

  background-color: rgb(106, 203, 106) !important;
  transition: 1s !important;
}
.nav-item .login:hover {
  border-radius: 5px;

  background-color: rgba(153, 166, 153, 0.47) !important;
  transition: 1s !important;
}
.nav-item {
  border-radius: 10px;
}
.video-p {
  border-radius: 8px;
}
/* .nav .nav-principal li a i:hover {
  color: rgba(29, 165, 45, 0.891);
} */
/* nav .nav-principal li:hover {
  background-color: rgba(29, 165, 45, 0.891);
} */
/* .card:hover {
  box-shadow: 4px 4px 4px #ccc;
} */

.percurso-main {
  border: 1px solid #9ef1e9;
  border-radius: 10px;

  background-color: aliceblue;
}
/*  */

/* pagina-exercicios */

.caixa {
  border: 2px solid rgb(107, 115, 115);
  border-radius: 5px;
}
/* p {
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
} */
.exe {
  border: 1px solid rgb(135, 146, 240);
}
.inp {
  width: 50px;
  padding: 5px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgb(17, 235, 82);
}
/* dashboard */
.img-fake {
  height: 200px;
  background-color: #001c40;
  border-radius: 10px;
}
.inpr {
  width: 50%;
}
